html {
  font-size: 16px;
  font-family: Tahoma, sans-serif;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
ul {
  list-style: none;
}
p {
  font-family: Lora, serif;
}
.main {
  position: relative;
  top: 4rem;
  width: 100%;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.large-info {
  width: 60%;
  margin: 2rem 1.5rem;
}
.large-image img,
.large-image video {
  width: 100%;
}
.small-info {
  width: 40%;
  padding-top: 1rem;
}
.small-block .flex-column,
.banner .flex-column {
  justify-content: center;
}
.small-block .flex-column {
  width: 65%;
}
.small-image {
  width: 35%;
  margin: 1rem;
}
.small-image img {
  width: 100%;
  height: auto;
}
.small-block p {
  margin: 0.5rem 0;
}
header {
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
}
header div.flex {
  flex-grow: 1;
}
header .desktop img {
  height: 2rem;
  width: auto;
  margin-left: 1.5rem;
}
header span {
  font-size: 1.25rem;
}
nav.desktop {
  margin-right: 1rem;
}
.desktop ul li {
  padding: 0 0.5rem;
}
.mobile {
  display: none;
}
@media only screen and (max-width: 620px) {
  .mobile {
    display: block;
    width: 100%;
  }
  .mobile .flex {
    justify-content: space-around;
  }
  .desktop {
    display: none;
  }
}
.banner {
  background-color: lightgray;
}
.banner h1,
.banner h4 {
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}
.banner h4 {
  font-family: Lora, serif;
}
.banner h5 {
  background-color: dimgray;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
  max-width: 80%;
}
.banner h5:hover {
  background-color: gray;
}
@media only screen and (max-width: 872px) {
  .banner {
    flex-direction: column;
  }
  .banner .large-info {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .banner .small-info {
    width: auto;
    padding-top: 0;
    margin: 0 1rem;
  }
  .banner h1 {
    padding-bottom: 2rem;
  }
  .banner h5 {
    align-self: center;
    max-width: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.information .small-info {
  border-left: 1px solid lightgray;
}
.information .small-block {
  border-bottom: 1px solid lightgray;
}
.mobile-image {
  display: none;
}
.information h2 {
  padding: 2rem 0 1.5rem 0;
}
.information h6 {
  padding-top: 2rem;
}
.information span {
  font-family: Lora, serif;
  color: blue;
}
@media only screen and (max-width: 872px) {
  .information .large-info {
    display: none;
  }
  .information .small-image {
    display: none;
  }
  .information .small-info {
    width: 100%;
    padding: 0;
  }
  .information .small-block {
    border-bottom: none;
    margin: 0 auto;
  }
  .small-block .flex-column {
    width: auto;
    padding: 0 1rem 2rem 1rem;
  }
  .information img {
    max-width: 576px;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    flex-shrink: 1;
  }
  .mobile-image {
    display: block;
  }
  .information h3,
  .information p,
  .information span {
    padding-left: 1rem;
  }
}
.course {
  background-color: lightgray;
}
.course h2 {
  padding-top: 2rem;
  text-align: center;
}
.subjects {
  padding: 0 3.5rem 1rem 3.5rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1168px;
  margin: 0 auto;
}
.subject {
  max-width: 20rem;
  margin: 1rem;
  background-color: white;
}
.subject img {
  max-width: 100%;
  height: auto;
}
.subject-info {
  padding: 1rem;
}
.subject-info span {
  padding: 0.5rem 0;
  display: block;
}
.subject-info p {
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .course {
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .course h2 {
    margin-bottom: 0.5rem;
  }
  .subject img,
  .subject span,
  .subject p {
    display: none;
  }
  .subjects {
    width: 100%;
    padding: 0;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .subject {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .subject-info {
    margin: 0.5rem 1rem;
    background-color: lightgray;
  }
}
.thesis {
  border-bottom: 1px solid lightgray;
}
.thesis h2 {
  padding-top: 2rem;
  text-align: center;
}
.large-info h3 {
  padding: 1.5rem 0 0.5rem;
}
@media only screen and (max-width: 872px) {
  .thesis .small-info {
    display: none;
  }
  .thesis .large-info {
    width: 100%;
    margin: 1rem 0 1.5rem 0;
  }
  .thesis h3,
  .thesis p {
    display: none;
  }
}
footer {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}
footer h6 {
  font-weight: normal;
}
footer li {
  padding: 0 0.5rem;
}
@media only screen and (max-width: 600px) {
  footer li {
    display: none;
  }
  footer {
    margin-bottom: 0;
  }
}
